{% include "header.html" %}

  <main class="px-3">
        <ul class="list-group mt-3">
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        User {{ user.id }}. {{ user.name }} / {{ user.email }}
                    </div>
                    <div>
                        <a href="{{ url_for('reset_user', user_id=user.id) }}" class="btn btn-primary me-2">Reset</a>
                        <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-primary">Edit</a>
                    </div>
                    {% for list in user.lists %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                List {{ list.id }}. {{ list.name }} / {{ list.date }}
                            </div>
                            <div>
                                <a href="{{ url_for('show_list', id_list=list.id) }}" class="btn btn-primary me-2">See all tasks</a>
                                <a href="{{ url_for('delete_list', id_list=list.id) }}" class="btn btn-danger">Delete</a>
                                <a href="{{ url_for('edit_list', id_list=list.id) }}" class="btn btn-primary">Edit</a>
                            </div>
                            {% for task in list.tasks %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        Task {{ task.id }}. {{ task.title }} / {{ task.description }} / {{ task.completed }}
                                    </div>
                                    <div>
                                        <a href="{{ url_for('complete_task', id_task=task.id) }}" class="btn btn-primary me-2">Complete</a>
                                        <a href="{{ url_for('delete_task', id_task=task.id) }}" class="btn btn-danger">Delete</a>
                                        <a href="{{ url_for('edit_task', id_task=task.id) }}" class="btn btn-primary">Edit</a>
                                    </div>
                                </li>
                            {% endfor %}
                            <br><hr>
                        </li>
                    {% endfor %}
                </li>
                <br><br>
            {% endfor %}
        </ul>
  </main>

{% include "footer.html" %}